
/***********  FONTS  ***************/



/***********  COLORS  ***************/


/***********  GENERAL  ***************/
h1 {
	text-align: center;
}


/***********  NAVIGATION  ***************/



/***********  FOOTER  ***************/



/***********  SECTIONS  ***************/
#calcBar li {
	list-style: none;
	display: inline-block;
}


/***********  PAGE: HOME  ***************/



/***********  PAGE: ONE  ***************/



/***********  PAGE: TWO  ***************/



/***********  PAGE: THREE  ***************/



/***********  PAGE: FOUR  ***************/


